*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --btn-width: calc(50px + 1vmin);
  --navbar-height: calc(50px + 1vmin);
  --font-dynamic: calc(1rem + 1vmin);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR */

nav {
  height: var(--navbar-height);
  width: 100;
  background-color: wheat;
  display: flex;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

.mode {
  height: 100%;
  display: inline-block;
  background-color: #61dafb;
  border: none;
  font-size: var(--font-dynamic);
  text-align: center;
}

.display {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 5px;
  min-width: fit-content;
  background-color: #61dafb;
  align-items: center;
}

.display > span {
  font-size: var(--font-dynamic);
}

/* Buttons */
.btn {
  height: 100%;
  width: var(--btn-width);
  display: inline-block;
  margin: 0;
  border: none;
  background-color: gray;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 60px;
}

.dir-btn:hover {
  border: 1px solid #61dafb;
}

.btn.left {
  background-image: url(icons/caret-left-fill.svg);
  margin-left: auto;
}

.btn.right {
  background-image: url(icons/caret-right-fill.svg);
  margin-right: auto;
}

.btn.search {
  background-image: url(icons/search.svg);
  margin-right: 5px;
  background-size: 75%;
}

.btn.sidebar-toggle {
  background-image: url(icons/list.svg);
  margin-right: 0;
}

/* LAYOUT */

.cell {
  border: 1px gray solid;
  height: 50px;
}

.header-cell {
  background-color: antiquewhite;
}

/* Day */
.day {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 3fr 7fr;
  grid-auto-rows: min-content;
}

/* Week */

.week {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 10% repeat(7, calc(90% / 7));
  grid-auto-rows: min-content;
}
