*,
*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --btn-width: calc(40px + 1vmin);
  --navbar-height: calc(40px + 1vmin);
  --font-dynamic: calc(1rem);
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR */

nav {
  height: var(--navbar-height);
  width: 100;
  background-color: cadetblue;
  display: flex;
  flex: 1 1 auto;
  align-self: flex-start;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
}

.mode {
  height: 100%;
  display: inline-block;
  border: none;
  border-radius: 10px;
  font-size: var(--font-dynamic);
  text-align: center;
  box-shadow: 2px 2px 2px gray;
}

.display {
  display: flex;
  height: 100%;
  margin: 0;
  padding: 5px;
  min-width: fit-content;
  align-items: center;
  border-radius: 10px;
  margin: 0 5px;
  font-size: var(--font-dynamic);
}

/* Buttons */
.btn {
  height: 100%;
  width: var(--btn-width);
  display: inline-block;
  margin: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 60px;
  border-radius: 50%;
}

.btn:hover,
.btn:active {
  border: 2px solid red;
}

.btn.left {
  background-image: url(icons/caret-left-fill.svg);
  margin-left: auto;
}

.btn.right {
  background-image: url(icons/caret-right-fill.svg);
  margin-right: auto;
}

.btn.sidebar-toggle {
  background-image: url(icons/list.svg);
  margin-right: 0;
  border-radius: 10px;
}

/* LAYOUT */

.cell {
  border: 1px gray solid;
  height: 50px;
}

.cell:focus,
.cell:active {
  background-color: #61dafb;
}

.header-cell {
  background-color: antiquewhite;
  height: 80px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

p {
  margin: 5px;
}

.row-header {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.row-header > * {
  margin-top: 0;
}

/* Day */
.day {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 3fr 7fr;
  grid-auto-rows: min-content;
}

.now {
  background-color: greenyellow;
}

/* Week */

.week {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 2fr 8fr;
  grid-auto-rows: min-content;
}

.week-container {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: repeat(7, calc(100% / 7));
  grid-auto-rows: min-content;
}
